#main-navbar {
  background: #999999;
  /*border: 1px solid #999999;*/
  margin-top: -25px;
  width: 100%;
  font-size: 1.5em;
  ul {
    li {
      display: inline;
      float: right;
      margin: 5px;
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
}
